* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham";
  background:  #27053B;
  color: white;
}

/* Topnav */
nav {
  width: 100;
  padding: 1rem 2%;
  background-color: #3F1097;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
}

/* Style the topnav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  display: block;
  color: #f1f1f1;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 24px;
}

.nav-button {
  background-color: #88DEF2;
  font-family: Gotham;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.nav-links a:hover, .nav-button:hover, .logo:hover{
  background-color: #5a9bac;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem ;
  max-width: 100%;
  /*border: 3px solid green; */
}

.flex-container img {
  max-width: 95%;
}

/* Image properties for svg graphics */
.svg {
  color: white;
  height: 75%;
}

.png{
  size: 50%;
  height: 50%;
}

/*Buttons*/
.b1{
  background-color: #C663F8;
  font-family: Gotham;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border-color: #C663F8;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

.b2{
  background: none;
  font-family: Gotham;
  color: #C663F8;
  font-size: 24px;
  padding: 12px 24px;
  border-color: #C663F8;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

.b1:hover, .b2:hover {
  background-color: #7620a1;
}

/*  Resizer */
@media screen and (max-width: 1000px) {
  .flex-container, .navbar, .nav-links {   
    flex-direction: column;
  }
  .logo{
    margin-right: 0%;
    flex-direction: column;
  }
}
