* {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

/* Image properties and properties for svg graphics */
img,
picture,
video,
canvas{
    display: block;
    object-fit: contain;
    max-width: 100%;
    border-radius: 16px;
}

svg {
    display: block;
    object-fit: contain;
    max-width: 100%;
    fill: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

header {
    top: 0;
    position: sticky;
    margin-bottom: auto;
}

body {
  font-family: "Gotham";
  background:  #27053B;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* CONTAINERS */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0rem 1% 3rem 1%;
  max-width: 100%;
  /* Unbracket to see containers*/
  /*border: 3px solid green;*/
}

.flex-container img {
  max-width: 95%;
}

.two-column  {
  float: left;
  width: 50%;
  padding: 0px 1rem 0px 1rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

/*  Resizer */
@media screen and (max-width: 700px) {
  .two-column, .row:after{
    width: 100%;
    float: none;
    
  }
}

/* Topnav */
nav {
  padding: 1rem 2%;
  background-color: #3F1097;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  align-self: flex-start;
}

/* Style the topnav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 24px;
}

.nav-links li a {
  position: relative;
  display: block;
  font-family: Gotham;
  color: #f1f1f1;
  padding: 12px 12px;
 
  text-decoration: none;
}

.nav-button {
  position: relative;
  background-color: #88DEF2;
  font-family: Gotham;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-links a:hover, .nav-button:hover{
  background-color: #5a9bac;
  border-radius: 4px;
}

.flex-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: var(--_gap, 1rem);
    flex-grow: 1;

    .last {
        margin-left: auto;
    }
}

/* Resize Topnav */
@media screen and (max-width: 700px){
 nav, .nav-links, .nav-button, .logo{   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 90%;
    gap: 1rem;
}
}

/*Buttons*/
.b1{
  background-color: #C663F8;
  font-family: Gotham;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border-color: #C663F8;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

.b2{
  background: none;
  font-family: Gotham;
  color: #C663F8;
  font-size: 24px;
  padding: 12px 24px;
  border-color: #C663F8;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}

.b1:hover, .b2:hover {
  background-color: #7620a1;
}

/*TEXT STYLES For Desktop*/
h1{
  text-align: inherit;
  padding: 1rem 2rem;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

p {
  text-align: inherit;
  padding: 1rem 2rem;
  font-size: 1.5em;
}

sub{
  text-align: inherit;
  padding: 1rem 2rem;
  font-size: 1em;
}